<!DOCTYPE html>
<html class="ng-scope" lang="EN">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta charset="utf-8">
		<meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control">
		<meta content="no-cache" http-equiv="Pragma">
		<meta content="0" http-equiv="Expires">

		<title class="ng-binding">Dashboard</title>
		<link href="css/app.css" media="all" rel="stylesheet" type="text/css">
		<link href="css/myeras_custom.css" media="all" rel="stylesheet" type="text/css">
		<!--Favicon Import-->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	</head>

	<body>
		<div id="wrapper no-print">
			<div id="head-nav" class="topbar navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="navbar-left">
							<a class="navbar-brand" href="https://www.aamc.org/">
								<img class="img-responsive" src="images/logo.png">
							</a>
						</div>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="#">Dashboard</a></li>
							<li class="dropdown">
								<a ng-if="isAuthenticated()" href="#" class="dropdown-toggle ng-scope" data-toggle="dropdown">
									<span class="ng-binding">Application</span> <b class="caret"></b>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a id="myaccount-link" href="#" class="">
											Personal Information
										</a>
									</li>
									<li>
										<a id="myaccount-link" href="#" class="">
											Biographic Information
										</a>
									</li>
									<li>
										<a id="myaccount-link" href="#" class="">
											Education
										</a>
									</li>
									<li>
										<a id="myaccount-link" href="#" class="">
											Experience
										</a>
									</li>
									<li>
										<a id="myaccount-link" href="#" class="">
											Licensure
										</a>
									</li>
									<li>
										<a id="myaccount-link" href="#" class="">
											Publications
										</a>
									</li>
									<li class="disabled">
										<a id="myaccount-link" href="#" class="">
											Certify &amp; Submit
										</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a ng-if="isAuthenticated()" href="#" class="dropdown-toggle ng-scope" data-toggle="dropdown">
									<span class="ng-binding">Documents</span> <b class="caret"></b>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a id="myaccount-link" href="#" class="">
											Personal Statements
										</a>
									</li>
									<li>
										<a id="myaccount-link" href="#" class="">
											Letters of Recommendation
										</a>
									</li>
									<li>
										<a id="myaccount-link" href="#" class="">
											Exams
										</a>
									</li>
									<li>
										<a id="myaccount-link" href="#" class="">
											Additional Documents
										</a>
									</li>
								</ul>
							</li>
							<li class="dropdown" ng-show="showNav" aria-hidden="false" style="">
								<a class="dropdown-toggle pointer" href="" data-toggle="dropdown">
									Programs
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="#/programSearch" ui-sref="main.programSearch">Search Programs</a>
									</li>
									<li>
										<a href="#/programHome" ui-sref="main.programHome">Saved Programs</a>
									</li>
									<li>
										<a href="#/programsapplied" ui-sref="main.programsapplied">Programs Applied To</a>
									</li>
									<li class="ng-hide" ng-show="statusId!=3" aria-hidden="true" style="">
										<a href="#/invoiceHistory" ui-sref="main.invoiceHistory">Invoice History</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="btn btn-primary btn-small" ng-show="showNav" ui-sref="main.mail" href="#/mail" aria-hidden="false" style="">
									<i class="fa fa-envelope"></i>
									Message Center
								</a>
							</li>
						</ul>
						<ul class="nav navbar-nav not-nav ng-scope"></ul>
						<aamc-account class="ng-scope">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a ng-if="isAuthenticated()" href="#" class="dropdown-toggle ng-scope" data-toggle="dropdown">
										<span class="ng-binding">Jason Smith</span> <b class="caret"></b>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li ng-if="isAuthenticated()" class="ng-scope">
											<a id="myaccount-link" ng-show="isAuthenticated() &amp;&amp; !isAccountManagerModal()" ng-href="#" target="_top" href="#" class="">
												<i class="glyphicon glyphicon-user"></i> My Account
											</a>
										</li>
										<li>
											<a id="myaccount-link" ng-show="isAuthenticated() &amp;&amp; !isAccountManagerModal()" ng-href="#" target="_top" href="#" class="">
												<i class="glyphicon glyphicon-user"></i>  Help
											</a>
										</li>
										<li aamc-secure="" class="divider ng-scope" ng-if="isAuthenticated()"></li>
										<li>
											<a id="logout-link" ng-if="isAuthenticated()" ng-click="logout()" href="#" class="ng-scope">
												<i class="glyphicon glyphicon-log-out"></i>Sign Out
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</aamc-account>
					</div>
				</div>
			</div>

			<main class="container-fluid">
				<div class="page-head clearfix">
					<div class="aamc-dashboard-title-content no-print">
						<h1><span class="title pull-left">uiuxdemos</span></h1>

						<div class="dropdown pull-left">
							<h1></h1>
						</div>

						<div class="dropdown pull-left">
							<h1 class="ng-scope">
								<a class="dropdown-toggle ng-scope" data-toggle="dropdown" href="#">
									<small class="ng-binding">Year 2016 AppType I <b class="caret"></b></small>
								</a>
								<ul class="dropdown-menu pull-right">
								<li>
									<a class="ng-binding ng-scope" href="#" tabindex="0">Register a Type II Application</a>
								</li>
								<li></li>
							</ul>
						</h1>
						</div>
					</div>

					<div class="aamc-dashboard-id-summary-content no-print ng-isolate-scope">
						<div class="col-photo pull-right ng-scope">
							<div class="photo-wrapper">
								<ul class="list-unstyled user-details pull-left">
									<li><strong class="ng-binding">Jason Smith</strong></li>
									<li><span class="small ng-binding">ID: 20016018</span></li>
									<li><span class="small ng-binding ng-scope">Email: jsmith@github.com</span></li>
									<li></li>
								</ul>
							</div>
						</div>

						<div class="modal fade" id="UploadAvatarModal" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button class="close" data-dismiss="modal" type="button">
											<span>×</span> 
											<span class="sr-only">Close</span>
										</button>
										<h4 class="modal-title" id="myModalLabel">Upload image</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label>Select an image file</label>
													<input accept=
													".png,.jpg" id=
													"--ng-file-upload-0.027769661634936216"
													multiple="multiple" style=
													"width: 0px; height: 0px; position: absolute; padding: 0px; margin: 0px; overflow: hidden; opacity: 0;"
													tabindex="-1" type="file">

													<div class="form-control btn btn-sm btn-primary pull-left ng-pristine ng-untouched ng-valid" id="e--ng-file-upload-0.027769661634936216"
														onclick="document.getElementById(&quot;--ng-file-upload-0.027769661634936216&quot;).click()"
														style="overflow: hidden;"
														tabindex="0">
														Browse
													</div>
												</div>
											</div>

											<div class="col-sm-6">
												<div class="form-group">
												<label>Preview</label>
												<img alt="Image Preview" class="pull-right image-preview ng-hide"></div>
											</div>
										</div>
									</div>

									<div class="modal-footer">
										<button class="btn btn-primary" disabled=
										"disabled" tabindex="0">Upload</button>
										<button class="btn btn-default" tabindex=
										"0" type="button">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row ng-scope">
					<div class="col-md-12">
						<div class="newdashboard-content ng-scope">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
								<div class="aamc-dashboard-application-section-content">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
										<div class="dashboard-panel alt-first">
											<div class="panel-heading header">
												<h3>Application</h3>
											</div>
											<div class="panel-body ng-scope" ng-if="!dashboardApplicationSection.isBusy && dashboardApplicationSection.postApplicationStatus['cafSubmitDt'] == null">
												<div class="row">
													<div class="col-xs-8 col-title">
														<strong class="ng-binding">Personal Information</strong>
													</div>
													<div class="col-xs-4">
														<a class="ng-binding" ui-sref="main.personalInfo" href="#/personalInfo">Saved</a>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-8 col-title">
														<strong class="ng-binding">Biographic Information</strong>
													</div>
													<div class="col-xs-4">
														<a class="ng-binding" ui-sref="main.biographic" href="#/biographic">Saved</a>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-8 col-title">
														<strong class="ng-binding">Education</strong>
													</div>
													<div class="col-xs-4">
														<a class="ng-binding" ui-sref="main.general" href="#/general">Not Started</a>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-8 col-title">
														<strong class="ng-binding">Experience</strong>
													</div>
													<div class="col-xs-4">
														<a class="ng-binding" ui-sref="main.experience" href="#/experience">Saved</a>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-8 col-title">
														<strong class="ng-binding">Licensure</strong>
													</div>
													<div class="col-xs-4">
														<a class="ng-binding" ui-sref="main.licensure" href="#/licensure">Saved</a>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-8 col-title">
														<strong class="ng-binding">Publications</strong>
													</div>
													<div class="col-xs-4">
														<a class="ng-binding" ui-sref="main.publications" href="#/publications">Saved</a>
													</div>
												</div>

												<hr/>

												<div class="row">
													<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
														<a class="details" href="#" tabindex="0">View/Print Application</a>
													</div>
													<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
														<a class="details" href="#" tabindex="0">View/Print CV</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="aamc-dashboard-documents-section-content ng-isolate-scope">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
										<div class="dashboard-panel alt-first">
											<div class="panel-heading header">
												<h3>Documents</h3>
											</div>
											<div class="panel-body">
												<div class="row">
													<div class="col-xs-8 col-title">
														<strong>Uploaded but Unassigned LoRs</strong>
													</div>

													<div class="col-xs-4">
														<a class="ng-binding" href="#/letterRecommendation">0</a>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-8 col-title">
														<strong>Unassigned Personal Statements</strong>
													</div>

													<div class="col-xs-4">
														<a class="ng-binding" href="#/personalStatements">0</a>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-8 col-title">
														<strong>MS Transcript</strong>
													</div>

													<div class="col-xs-4">
														<a class="ng-binding" href="#/otherDocuments">Not Uploaded</a>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-8 col-title">
														<strong>MSPE</strong>
													</div>

													<div class="col-xs-4">
														<a class="ng-binding" href="#/otherDocuments">Not Uploaded</a>
													</div>
												</div>

												<div class="row ng-scope">
													<div class="col-xs-8 col-title">
														<strong>ECFMG Status Report</strong>
													</div>

													<div class="col-xs-4">
														<a class="ng-binding" href="#/otherDocuments">Not Uploaded</a>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-8 col-title">
														<strong>Photo</strong>
													</div>

													<div class="col-xs-4">
														<a class="ng-binding" href="#/otherDocuments">Not Uploaded</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="aamc-dashboard-programs-section-content ng-isolate-scope">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
										<div class="dashboard-panel alt-first">
											<div class="panel-heading header">
												<h3>Programs</h3>
											</div>

											<div class="panel-body ng-scope">
												<div class="row">
													<div class="col-xs-8 col-title">
														<strong>Saved Programs</strong>
													</div>

													<div class="col-xs-4">
														<a class="ng-binding" href="#/programHome">3</a>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-8 col-title">
														<strong>Programs Applied to</strong>
													</div>

													<div class="col-xs-4">
														<a class="ng-binding" href="#/programsapplied">0</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
								<div class="aamc-dashboard-help-section-content ng-isolate-scope">
									<div class="col-md-12">
										<div class="dashboard-panel alt-fourth">
											<div class="panel-heading header">
												<h3>Resources</h3>
											</div>

											<div class="panel-body ng-scope">

												<div class="row">
													<div class="col-xs-12">
														<a href="#" target="_top">Application Worksheet</a>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<a href="#">User Guide</a>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<a href="#">Applicant FAQ</a>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<a href="#">Application Timeline</a>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<a href="#">Application Tutorials and PowerPoints</a>
													</div>
												</div>

												<br/>

												<div class="row">
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
														<h4>Contact HelpDesk</h4>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
														<a href="mailto:github.org">github.org</a>
													</div>
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
														<span class="ng-binding">(202) 862-6264</span>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
														<strong>Monday - Friday 8am - 6pm ET</strong>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<footer class="footer footer-shadow hidden-xs xyzz">
			<ul class="list-inline text-center hidden-sm hidden-xs">
				<li class="noborder">&copy; 0000 - 1234 | </li>
				<li>123 Jason St, Seattle, Denver, 78987-3243 | </li>
				<li><a title="Contact Us" href="#" alt="Contact Us">Contact Us | </a></li>
				<li><a title="Follow Us" href="#" alt="Follow Us">Follow Us | </a></li>
				<li><a title="Terms and Conditions" href="#" alt="Terms and Conditions">Terms and Conditions | </a></li>
				<li><a title="Privacy Statement" href="#" alt="Privacy Statement">Privacy Statement | </a></li>
			</ul>
		</footer>
		<script src="scripts/vendor.js"></script>
		<script src="scripts/scripts.js"></script>
	</body>
</html>