.dashboard-panel.alt-first .header {
    background: none repeat scroll 0 0 #19b698;
    /*color: #fff;*/
}

.dashboard-panel.alt-fourth .header {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #eee;
}

.dashboard-panel.alt-fourth .header h3{
	color: #000000;
}

.dashboard-panel{
	min-height: 420px;
}

.dashboard-panel .header{
    margin-bottom: 10px;
}

.dashboard-panel .col-title{
    text-align: left;
}

@media (max-width: 1199px) {
    .dashboard-panel{
        min-height: 350px;
    }
}