.form-control-feedback {
    display: block;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 25px;
    width: 34px;
    z-index: 2;
}

.vs-table-search {
    color: rgb(204, 204, 204);
    cursor: pointer;
    left: 18px;
    top: 0;
}

.vs-table-clear-search {
    color: rgb(204, 204, 204);
    cursor: pointer;
    right: 15px;
    top: 0;
}

.has-feedback label.sr-only ~ .form-control-feedback {
    top: 0;
}

.has-feedback .form-control {
    padding-right: 42.5px;
    padding-left: 32px;
}

.search-bar-link {
    margin-right: -10px;
}

.search-bar .has-feedback{
    margin-left: -10px;
}

.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
	border-top: 1px solid #ddd;
}

.modal-custom{
	padding-top: 10px;
}

table tr:nth-child(2n) {
	background-color: #fff;
}

table tr.read{
	background-color: #f8f8f8;
}

.page-header{
	margin-top: 10px;
}

.btn-group input[type="checkbox"]{
    margin-top: 0;
    padding-top: 4px;
}